@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my pet adoption website!</h1>
    <img src="~/images/home_icon.png" alt="Adopt icon" style="height:100px; weight:80px; margin-top:40px"/>
</div>
